img{
	width:300px;
	display: block;
	margin-right:500px; 
	margin-left:520px;
	margin-top:220px;
	margin-bottom:30px;
}
#form{
	display:inline-block;
	margin-left: 30%;
	text-align: left;

}
input[type=text]{
		font-size: 20px;
		padding:10px;
		width:500px;
		background-color: white;
		box-shadow:  0px 1px 2px grey;
		border:0;		
}
button{	
	padding:10px;
	margin-top:40px;
	width:auto;
	left:500px;
	background-color: white;
	border:0;
}
.b1{
	display: inline-block;
	margin-left: 37%;
}
.b2{
	display: inline-block;
	margin-left: 15px
}

::-placeholder {
	font-family: 'Roboto',sans-serif: 
	color:red;
}

p{
	margin-left: 37%;
}

p a{
	text-decoration: none;
}
body{
	font-family: 'Roboto';
}
.bagian-atas{
	position: absolute;
	margin-left :10%;
	margin-top: 0px;
	top: 10px;
	right: 20px;
}
div a{
	margin: 7px;
	float: left;
	text-decoration: none;
}

.rounded{
	position: relative;
	height: 23px;
	background-color: #9a9ca0;
	border-radius: 50%;
	width: 23px;
}
a div .material-icons.notif{
	position: absolute;
	font-size: 15px;
	color:rgb(255, 255, 255);
	left:4px;
	top :3px;
}
.rounded1{
	top: -5px;
	position: relative;
	height: 35px;
	background-color: #4e7c43;
	border-radius: 50%;
	width: 35px;
	color: white;
}
a div .isi{
	position: absolute;
	left: 13px;
	top: 5px;
}
.apps{
	text-decoration:none;
}
